@charset "utf-8";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

header {
    width: 100%;
    height: fit-content;
    display: grid;
    place-items: center;
}

.kozepre {
    text-align: center;
}